<template>
	<span class="rounded-full uppercase px-2 py-1 mb-1 text-xs text-white font-bold mr-3" :class="colors[type]">
		<img v-if="image" :src="image" style="max-width:50px;max-height:50px;" />
		{{ text || type | toTitleCase}}
	</span>
</template>

<script>
	export default {
		props: [
			'type',
			'text',
			'image'
		],
		data() {
			return {
				colors: {
					'camper': 'bg-indigo',
					'counselor': 'bg-red-light',
					'guardian': 'bg-green-light',
					'in': 'bg-green-dark',
					'out': 'bg-blue-dark',
					'name-out': 'bg-blue-dark',
					'name-in': 'bg-green-dark',
					'random': 'bg-yellow-dark',
					'active': 'bg-green-light',
					'inactive': 'bg-grey-dark'
				}
			}
		},
		methods: {
			
		}
	}
</script>