<template>
	<form class="w-full max-w-md" v-on:submit.prevent="addTeam">
		<div class="flex flex-wrap flex-row mx-3 mb-6 content-center">
			<div class="w-full md:w-1/2 px-3 mb-6 md:mb-0">
				<label class="block uppercase tracking-wide text-grey-darker text-xs font-bold mb-2" for="grid-first-name">
					Name
				</label>
				<input class="appearance-none block w-full bg-grey-lighter text-grey-darker border border-red rounded py-3 px-4 mb-3 leading-tight focus:outline-none focus:bg-white" id="grid-first-name" type="text" placeholder="Program of Awesomeness" v-model="name">
			</div>
			<input type="submit" class="bg-white hover:bg-grey-lightest text-grey-darkest font-semibold py-2 px-4 border border-grey-light rounded shadow cursor-pointer" value="Add Program" />
		</div>
	</form>
</template>

<script>
	export default {
		props: [
		],
		data() {
			return {
				name: null,
			}
		},
		methods: {
			addTeam() {

				let self = this

				window.axios.post('/app/account/add-program', {name: this.name})
				.then((response) => {
					Event.$emit('get-account')
					this.$awn.success('Account updated!', {durations: {success: 3}})
				})
				.catch((error) => {
					this.$awn.alert('ERROR: ' + error.error, {duration: {error: 5}})
				})

			}
		}
	}
</script>