<template>
	<div class="flex flex-row flex-wrap flex-grow mt-2">
	    <div class="w-full p-3">
	        <!--Table Card-->
	        <div class="bg-white border rounded shadow">
	            <div class="border-b p-3">
	                <h5 class="uppercase text-grey-dark">{{ program.name }} Meetups</h5>
	                <button type="button" class="block bg-white hover:bg-grey-lightest text-grey-darkest font-semibold py-2 px-4 border border-grey-light rounded shadow cursor-pointer" v-if="['admin', 'counselor'].indexOf(user.role) >= 0" v-on:click="showAddMeetup">Add Meetup</button>
	            </div>
	            <div class="p-5">
					<table class="w-full p-5 text-grey-darker">
					    <thead>
					        <tr>
					            <th class="text-left text-blue-darkest">Title</th>
					            <th class="text-left text-blue-darkest">Description</th>
					            <th class="text-left text-blue-darkest">Start</th>
					            <th class="text-left text-blue-darkest">End</th>
					        </tr>
					    </thead>
					    <tbody>
					        <tr v-for="m in meetups" :key="m.id" v-on:click="goTo(m.id)" class="cursor-pointer">
					            <td>{{ m.title }}</td>
					            <td>{{ m.description }}</td>
					            <td>{{ m.start }}</td>
					            <td>{{ m.end }}</td>
					        </tr>
					    </tbody>
					</table>
	            </div>
	        </div>
	        <!--/table Card-->
	    </div>
	</div>
</template>

<script>

	import AddMeetup from '../meetup/AddMeetup'

	export default {
		components: {
			AddMeetup
		},
		props: {
			inprogram: Object,
			user: Object
		},
		data() {
			return {
				program: this.inprogram,
				meetups: this.inprogram ? this.inprogram.meetups : []
			}
		},
		watch: {
			inprogram(n, o) {

				this.program = n
				this.meetups = n.meetups

			}
		},
		methods: {
			goTo(id) {
				window.location = '/app/meetup/' + id
			},
			showAddMeetup() {
				this.$modal.show(
					AddMeetup,
					{
						// props
					},
					{
						height: '90%',
						width: '80%',
						scrollable: true,
						name: 'addMeetup'
					}
				)
			}
		}
	}
</script>
