<template>
	<div class="w-full px-4 md:px-0 md:mt-8 mb-16 text-grey-darkest leading-normal">
		<!--Console Content-->
		<div class="flex flex-wrap">
			<div class="w-full md:w-1/2 xl:w-1/3 p-3 cursor-pointer" v-on:click="selectedTab = 'people'">
				<div class="bg-white border rounded shadow p-2">
					<div class="flex flex-row items-center">
						<div class="flex-shrink pr-4">
							<div class="rounded p-3 bg-green-dark"><i class="fa fa-wallet fa-2x fa-fw fa-inverse"></i></div>
						</div>
						<div class="flex-1 text-right md:text-center">
							<h3 class="text-3xl uppercase text-grey">People</h3>
						</div>
					</div>
				</div>
			</div>
			<div class="w-full md:w-1/2 xl:w-1/3 p-3 cursor-pointer" v-on:click="selectedTab = 'teams'">
				<!--Metric Card-->
				<div class="bg-white border rounded shadow p-2">
					<div class="flex flex-row items-center">
						<div class="flex-shrink pr-4">
							<div class="rounded p-3 bg-orange-dark"><i class="fas fa-users fa-2x fa-fw fa-inverse"></i></div>
						</div>
						<div class="flex-1 text-right md:text-center">
							<h3 class="text-3xl uppercase text-orange">Teams</h3>
						</div>
					</div>
				</div>
				<!--/Metric Card-->
			</div>
			<div class="w-full md:w-1/2 xl:w-1/3 p-3 cursor-pointer" v-on:click="selectedTab = 'meetups'">
				<!--Metric Card-->
				<div class="bg-white border rounded shadow p-2">
					<div class="flex flex-row items-center">
						<div class="flex-shrink pr-4">
							<div class="rounded p-3 bg-yellow-dark"><i class="fas fa-user-plus fa-2x fa-fw fa-inverse"></i></div>
						</div>
						<div class="flex-1 text-right md:text-center">
							<h3 class="text-3xl uppercase text-yellow-dark">Meetups</h3>
						</div>
					</div>
				</div>
				<!--/Metric Card-->
			</div>
		</div>
		<!-- Cards go here -->
		<!-- <program-overview v-if="selectedTab == 'overview'" :inprogram="program"></program-overview> -->
		<team-overview v-if="selectedTab == 'teams'" :inprogram="program" :user="user"></team-overview>
		<meetup-overview v-if="selectedTab == 'meetups'" :inprogram="program" :user="user"></meetup-overview>
		<person-dashboard v-if="selectedTab == 'people'" :inprogram="program" :user="user"></person-dashboard>
	</div>
</template>

<script>

	import ProgramOverview from './ProgramOverview'
	import TeamOverview from './TeamOverview'
	import MeetupOverview from './MeetupOverview'

	export default {
		components: {
			ProgramOverview,
			TeamOverview,
			MeetupOverview
		},
		props: {
			user: Object
		},
		data() {
			return {
				program: {},
				selectedTab: 'people'
			}
		},
		methods: {
			getProgram() {

				let self = this

				window.axios.get('/app/program/get')
				.then((response) => {
					self.program = response.data
				})

			}
		},
		created() {
			Event.$on('get-program', this.getProgram)
		},
		beforeDestroy() {
			Event.$off('get-program')
		},
		mounted() {
			this.getProgram()
		}
	}
</script>
