<template>
	<div class="flex flex-row justify-between">
		<div>
			<input type="text" v-model="program.name" v-if="edit" class="appearance-none block w-full bg-grey-lighter text-grey-darker border border-red rounded py-3 px-4 mb-3 leading-tight focus:outline-none focus:bg-white">
			<p v-else class="uppercase text-grey-dark">{{ program.name }}</p>
		</div>
		<div>
			<label v-if="edit">Active
				<input type="checkbox" v-model="program.active">
			</label>
			<p v-else>
				<badge :type="isActive" />
			</p>
		</div>
		<div>
			<button v-if="edit" v-on:click="editProgram" class="bg-white hover:bg-grey-lightest text-grey-darkest font-semibold py-2 px-4 border border-grey-light rounded shadow cursor-pointer">Save</button>
			<button v-if="edit" v-on:click="toggleEdit" class="bg-white hover:bg-grey-lightest text-grey-darkest font-semibold py-2 px-4 border border-grey-light rounded shadow cursor-pointer">Cancel</button>
			<button v-else v-on:click="toggleEdit" class="bg-white hover:bg-grey-lightest text-grey-darkest font-semibold py-2 px-4 border border-grey-light rounded shadow cursor-pointer">Edit</button>
		</div>
	</div>
</template>

<script>
	export default {
		props: [
			'inprogram'
		],
		data() {
			return {
				program: this.inprogram,
				edit: false,
			}
		},
		watch: {
			inprogram(n, o) {
				this.program = n
			}
		},
		methods: {
			toggleEdit() {
				this.edit = !this.edit
			},
			editProgram() {

				let self = this

				window.axios.post('/app/program/edit', this.program)
				.then((response) => {
					Event.$emit('get-account')
					self.edit = false
					this.$awn.success('Account updated!', {durations: {success: 3}})
				})
				.catch((error) => {
					self.edit = false
					this.$awn.alert('ERROR: ' + error.error, {duration: {error: 5}})
				})

			}
		},
		computed: {
			isActive() {

				return this.program && this.program.active ? 'active' : 'inactive'

			}
		}
	}
</script>