<template>
	<div class="flex flex-row flex-wrap flex-grow mt-2">
		<div class="w-full p-3">
			<!--Table Card-->
			<div class="bg-white border rounded shadow">
				<div class="border-b p-3">
					<h5 class="uppercase text-grey-dark">{{ program.name }}</h5>
				</div>
				<div class="p-5">
					
				</div>
			</div>
			<!--/table Card-->
		</div>
	</div>
</template>

<script>
	export default {
		props: [
			'inprogram'
		],
		data() {
			return {
				program: this.inprogram
			}
		},
		watch: {
			inprogram(n, o) {

				this.program = n

			}
		},
		methods: {
			
		}
	}
</script>