<template>
	<div class="flex flex-row flex-wrap flex-grow mt-2">
	    <div class="w-full p-3">
	        <!--Table Card-->
	        <div class="bg-white border rounded shadow">
	            <div class="border-b p-3">
	                <h5 class="uppercase text-grey-dark">{{ program.name }} Teams</h5>
	            </div>
	            <div v-show="user.role === 'admin'">
	            	<add-team></add-team>
	            </div>
	            <div class="p-5 flex flex-row mb-4 flex-wrap">
	            	<team v-for="t in teams" :key="t.id" :inteam="t" :user="user"></team>
	            </div>
	        </div>
	        <!--/table Card-->
	    </div>
	</div>
</template>

<script>

	import AddTeam from '../team/AddTeam'
	import Team from '../team/TeamCard'

	export default {
		components: {
			AddTeam,
			Team
		},
		props: {
			inprogram: Object,
			user: Object,
		},
		data() {
			return {
				program: this.inprogram,
				teams: this.inprogram ? this.inprogram.teams : []
			}
		},
		watch: {
			inprogram(n, o) {

				this.program = n
				this.teams = n.teams

			}
		},
		methods: {
			loadTeams() {
				let self = this

				window.axios.get('/app/program/get')
				.then((response) => {
					self.program = response.data
					self.teams = response.data.teams
				})
			}
		},
		created() {
			Event.$on('load-teams', this.loadTeams)
		},
		beforeDestroy() {
			Event.$off('load-teams')
		}
	}
</script>
