<template>
	<div class="w-full px-4 md:px-0 md:mt-8 mb-16 text-grey-darkest leading-normal">
	    <!--Console Content-->
	    <!-- <div class="flex flex-wrap">
	        <div class="w-full md:w-1/2 xl:w-1/3 p-3">
	            <div class="bg-white border rounded shadow p-2">
	                <div class="flex flex-row items-center">
	                    <div class="flex-shrink pr-4">
	                        <div class="rounded p-3 bg-green-dark"><i class="fa fa-wallet fa-2x fa-fw fa-inverse"></i></div>
	                    </div>
	                    <div class="flex-1 text-right md:text-center">
	                        <h5 class="uppercase text-grey">Meetups</h5>
	                        <h3 class="text-3xl">{{ meetupCount }}</h3>
	                    </div>
	                </div>
	            </div>
	        </div>
	        <div class="w-full md:w-1/2 xl:w-1/3 p-3">
	            <div class="bg-white border rounded shadow p-2">
	                <div class="flex flex-row items-center">
	                    <div class="flex-shrink pr-4">
	                        <div class="rounded p-3 bg-orange-dark"><i class="fas fa-users fa-2x fa-fw fa-inverse"></i></div>
	                    </div>
	                    <div class="flex-1 text-right md:text-center">
	                        <h5 class="uppercase text-grey">People Registered</h5>
	                        <h3 class="text-3xl">{{ peopleCount }}</h3>
	                    </div>
	                </div>
	            </div>
	        </div>
	        <div class="w-full md:w-1/2 xl:w-1/3 p-3">
	            <div class="bg-white border rounded shadow p-2">
	                <div class="flex flex-row items-center">
	                    <div class="flex-shrink pr-4">
	                        <div class="rounded p-3 bg-yellow-dark"><i class="fas fa-user-plus fa-2x fa-fw fa-inverse"></i></div>
	                    </div>
	                    <div class="flex-1 text-right md:text-center">
	                        <h5 class="uppercase text-grey">Teams</h5>
	                        <h3 class="text-3xl">{{ teamCount }}</h3>
	                    </div>
	                </div>
	            </div>
	        </div>
	    </div> -->
	    <div class="bg-blue-lightest border-t border-b border-blue text-blue-dark px-4 py-3" role="alert">
			<p class="font-bold">Next Meetup</p>
			<a v-if="program.next" :href="'/app/meetup/' + program.next.id" class="block py-1 md:py-3 pl-1 align-middle text-black no-underline border-b-2 border-white cursor-pointer">
				<p>{{ program.next.title}} ~ {{ program.next.start}} - {{ program.next.end}}</p>
			</a>
			<p v-else>None scheduled</p>
	    </div>
	    <!--Divider-->
	    <hr class="border-b-2 border-grey-light my-8 mx-4">
	    <program-dashboard :inprogram="program" :user="user"></program-dashboard>
	    <!--/ Console Content-->
	</div>
</template>

<script>
	export default {
		props: {
			user: Object
		},
		data() {
			return {
				program: {}
			}
		},
		methods: {
			getProgram() {

				let self = this

				window.axios.get('/app/dashboard')
				.then((response) => {
					if(!response.data) {
						window.location = '/app/account'
					}
					self.program = response.data
				})

			}
		},
		computed: {
			meetupCount() {
				return this.program && this.program.meetups ? this.program.meetups.length : 0
			},
			peopleCount() {
				return this.program && this.program.people ? this.program.people.length : 0
			},
			teamCount() {
				return this.program && this.program.teams ? this.program.teams.length : 0
			},
		},
		mounted() {
			this.getProgram()
		}
	}
</script>
