<template>
	<form class="w-full max-w-md" v-on:submit.prevent="addTeam">
		<div class="flex flex-wrap flex-row mx-3 mb-6 content-center">
			<div class="w-full md:w-1/2 px-3 mb-6 md:mb-0">
				<label class="block uppercase tracking-wide text-grey-darker text-xs font-bold mb-2" for="grid-first-name">
					Name
				</label>
				<input class="appearance-none block w-full bg-grey-lighter text-grey-darker border border-red rounded py-3 px-4 mb-3 leading-tight focus:outline-none focus:bg-white" id="grid-first-name" type="text" placeholder="Program of Awesomeness" v-model="name">
			</div>
			<input type="submit" class="bg-white hover:bg-grey-lightest text-grey-darkest font-semibold py-2 px-4 border border-grey-light rounded shadow cursor-pointer" :value="addEdit + ' Team'" />
		</div>
	</form>
</template>

<script>
	export default {
		props: [
			'inteam'
		],
		data() {
			return {
				id: this.inteam ? this.inteam.id : null,
				name: this.inteam ? this.inteam.name : null,
			}
		},
		watch: {
			inteam(n, o) {
				this.id = n.id
				this.name = n.name
			}
		},
		methods: {
			addTeam() {

				let self = this

				let sendData = {
					id: this.id,
					name: this.name
				}

				window.axios.post('/app/team/add', sendData)
				.then((response) => {
					Event.$emit('get-program')
					Event.$emit('get-teams')
					Event.$emit('load-teams')
					this.$awn.success('Account updated!', {durations: {success: 3}})
				})
				.catch((error) => {
					this.$awn.alert('ERROR: ' + error.error, {duration: {error: 5}})
				})

			}
		},
		computed: {
			addEdit() {
				return this.inteam == null ? 'Add' : 'Edit'
			}
		}
	}
</script>