<template>
	<div class="w-full px-4 md:px-0 md:mt-8 mb-16 text-grey-darkest leading-normal">
		<!--Console Content-->
		<div class="flex flex-wrap">
			<div class="w-full md:w-1/2 xl:w-1/3 p-3 cursor-pointer" v-on:click="selectedTab = 'overview'">
				<!--Metric Card-->
				<div class="bg-white border rounded shadow p-2">
					<div class="flex flex-row items-center">
						<div class="flex-shrink pr-4">
							<div class="rounded p-3 bg-green-dark"><i class="fa fa-wallet fa-2x fa-fw fa-inverse"></i></div>
						</div>
						<div class="flex-1 text-right md:text-center">
							<h3 class="text-3xl uppercase text-grey">Overview</h3>
						</div>
					</div>
				</div>
				<!--/Metric Card-->
			</div>
			<div class="w-full md:w-1/2 xl:w-1/3 p-3 cursor-pointer" v-on:click="selectedTab = 'teams'">
				<!--Metric Card-->
				<div class="bg-white border rounded shadow p-2">
					<div class="flex flex-row items-center">
						<div class="flex-shrink pr-4">
							<div class="rounded p-3 bg-orange-dark"><i class="fas fa-users fa-2x fa-fw fa-inverse"></i></div>
						</div>
						<div class="flex-1 text-right md:text-center">
							<h3 class="text-3xl uppercase text-orange">Teams</h3>
						</div>
					</div>
				</div>
				<!--/Metric Card-->
			</div>
			<div class="w-full md:w-1/2 xl:w-1/3 p-3 cursor-pointer" v-on:click="selectedTab = 'meetups'">
				<!--Metric Card-->
				<div class="bg-white border rounded shadow p-2">
					<div class="flex flex-row items-center">
						<div class="flex-shrink pr-4">
							<div class="rounded p-3 bg-yellow-dark"><i class="fas fa-user-plus fa-2x fa-fw fa-inverse"></i></div>
						</div>
						<div class="flex-1 text-right md:text-center">
							<h3 class="text-3xl uppercase text-yellow-dark">Meetups</h3>
						</div>
					</div>
				</div>
				<!--/Metric Card-->
			</div>
		</div>
		<!-- Cards go here -->

	</div>
</template>

<script>
	export default {
		props: [
			'inprogram',
			'preload'
		],
		data() {
			return {
				program: this.inprogram,
				teams: this.inprogram ? this.inprogram.teams : []
			}
		},
		methods: {
			getTeams() {

				let self = this

				window.axios.get('/app/account/get')
				.then((response) => {

					this.account = response.data

				})
			}
		},
		watch: {
			inprogram(n, o) {
				this.program = n
				this.teams = n.teams
			}
		},
		created() {
			Event.$on('get-teams', this.getTeams)
		},
		beforeDestroy() {
			Event.$off('get-teams')
		},
		mounted() {

			if(!this.preload) {

				this.getTeams()

			}

		}
	}
</script>
