<template>
	<div class="flex flex-row flex-wrap flex-grow mt-2">
		<div class="w-full p-3">
			<!--Table Card-->
			<div class="bg-white border rounded shadow">
				<div class="border-b p-3 flex flex-row content-between justify-between">
					<div class="flex flex-row content-between justify-between">
						<h2 class="font-bold text-3x mx-3 uppercase text-gray-600">
							{{ team.name }}
						</h2>
					</div>
					<div>
						<button class="bg-white hover:bg-gray-100 text-gray-800 font-semibold py-2 px-4 border border-gray-400 rounded shadow text-xs" v-if="user.role === 'admin'" v-on:click="editTeam">
							Edit
						</button>
					</div>
				</div>
				<div class="p-5">
					<div class="flex flex-row">
						<div class="text-black text-base text-2xl font-bold w-full mb-6">
							<h5>People</h5>
						</div>
						<div v-if="user.role === 'admin'">
							<button type="button" class="block bg-white hover:bg-grey-lightest text-grey-darkest font-semibold py-2 px-4 border border-grey-light rounded shadow cursor-pointer" v-on:click="showAddPerson">Add Person</button>
						</div>
					</div>
					<table class="w-full p-5 text-grey-darker">
					    <thead>
					        <tr>
					        	<th></th>
					            <th class="text-left text-blue-darkest">Name</th>
					            <th class="text-left text-blue-darkest">Role</th>
					            <th class="text-left text-blue-darkest">Actions</th>
					        </tr>
					    </thead>
					    <tbody>
					        <tr v-for="p in people" :key="p.id" class="cursor-pointer">
					        	<td v-on:click="goToPerson(p.id)">
					        		<img :src="p.image ? '/storage/' + p.image : '/people.svg'" style="max-width:100px;max-height:100px;" />
					        	</td>
					            <td v-on:click="goToPerson(p.id)">{{ p.last_name }}, {{ p.first_name }}</td>
					            <td v-on:click="goToPerson(p.id)"><badge :type="p.role" /></td>
					            <td>
					            	<button class="bg-white hover:bg-gray-100 text-gray-800 font-semibold py-2 px-4 border border-gray-400 rounded shadow text-xs cursor-pointer" v-if="user.role === 'admin'" v-on:click="removeFromTeam(p.id)">
					            		Remove From Team
					            	</button>
					            </td>
					        </tr>
					    </tbody>
					</table>
				</div>
			</div>
			<!--/table Card-->
		</div>
	</div>
</template>

<script>

	import AddPersonDashboard from '../person/AddPersonDashboard'
	import AddTeam from './AddTeam'

	export default {
		components: {
			AddPersonDashboard
		},
		props: {
			inteam: Object,
			user: Object
		},
		data() {
			return {
				team: this.inteam,
				people: this.inteam ? this.inteam.people : []
			}
		},
		watch: {
			inteam(n, o) {
				this.team = n
				this.people = n.people
			}
		},
		methods: {
			getTeam() {

				let self = this

				window.axios.get('/app/team/' + this.team.id)
				.then((response) => {
					self.team = response.data
					self.people = response.data.people
				})

			},
			showAddPerson() {
				this.$modal.show(
					AddPersonDashboard,
					{
						inteam: this.team
					},
					{
						height: 'auto',
						width: '80%',
						scrollable: true,
						name: 'addPerson'
					}
				)
			},
			editTeam() {
				this.$modal.show(
					AddTeam,
					{
						inteam: this.team
					},
					{
						height: 'auto',
						width: '80%',
						scrollable: true,
						name: 'addTeam'
					}
				)
			},
			removeFromTeam(id) {

				let self = this

				let sendData = {
					team: this.team.id,
					person: id
				}

				window.axios.post('/app/person/remove-from-team', sendData)
				.then((response) => {

					self.getTeam()

				})

			}
		},
		created() {
			Event.$on('get-team', this.getTeam)
		},
		beforeDestroy() {
			Event.$off('get-team')
		}
	}
</script>
