<template>
	<div class="w-full md:w-1/4 lg:w-1/4 mb-4">
		<a :href="'/app/team/' + team.id" class="no-underline">
			<div class="max-w-md w-full lg:flex">
				<div class="border-r border-b border-l border-grey-light lg:border-l-0 lg:border-t lg:border-grey-light bg-white rounded-b lg:rounded-b-none lg:rounded-r p-4 flex flex-col justify-between leading-normal">
					<div class="mb-8">
						<p class="text-sm text-grey-dark flex items-center">
							<svg version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
								 width="24.432px" height="24.432px" viewBox="0 0 24.432 24.432" style="enable-background:new 0 0 24.432 24.432;"
								 xml:space="preserve" color="white">
							<g>
								<g>
									<path d="M6.42,9.301c1.771,0,3.205-1.435,3.205-3.208c0-1.105,0.389-2.117-0.465-2.691C8.648,3.053,6.4,2.888,5.736,2.888
										c-0.79,0-1.817,0.644-2.376,1.119C2.665,4.594,3.213,5.111,3.213,6.092C3.213,7.866,4.646,9.301,6.42,9.301z M4.186,5.779
										c0.589-0.107,0.989,0.087,0.989,0.087l0.984-0.479c0,0-0.501,0.724-0.051,0.479C7.11,5.53,8.231,5.67,8.801,5.782
										c0.02,0.125,0.038,0.253,0.038,0.386c0,1.32-1.048,2.387-2.349,2.387c-1.294,0-2.343-1.067-2.343-2.387
										C4.147,6.035,4.165,5.907,4.186,5.779z"/>
									<path d="M22.066,5.643c-0.015-0.183-0.03-0.365-0.07-0.541c-0.127-1.124-1.133-3.408-4.02-3.34
										c-2.488,0.059-3.031,1.932-3.162,3.072c-0.088,0.28-0.145,0.573-0.164,0.878c-3.236,0.565-2.88,3.849-0.904,3.905
										c-0.188-1.715,0.63-2.745,0.945-3.076c0.291,1.771,1.82,3.132,3.672,3.132c1.756,0,3.222-1.223,3.619-2.858
										c0.303,0.534,0.812,1.628,0.688,2.803C25.783,9.591,24.251,6.032,22.066,5.643z M18.363,8.617c-1.455,0-2.639-1.172-2.672-2.621
										c0.531-0.193,0.925-1.113,0.925-1.113s0.315,0.108,0.315,1.147c0.551,0.192,1.508-1.614,1.508-1.614v1.423
										c0.607,0.166,2.521-0.054,2.521-0.054l0.071,0.06c0.001,0.03,0.009,0.061,0.009,0.092C21.042,7.415,19.842,8.617,18.363,8.617z"/>
									<polygon points="19.143,9.769 17.568,9.769 16.253,9.769 12.402,14.409 8.675,9.827 4.438,9.827 0,14.699 0.93,15.658 
										4.107,12.947 4.107,18.205 4.744,18.205 4.744,22.202 4.339,22.202 4.339,22.671 6.184,22.671 6.184,22.202 6.184,18.205 
										6.875,18.205 6.875,22.202 6.875,22.671 8.716,22.671 8.716,22.202 8.312,22.202 8.312,18.205 9.085,18.205 9.085,13.046 
										11.625,15.654 12.663,15.398 13.238,15.542 16.115,12.249 16.279,13.554 13.607,18.146 16.689,18.146 16.689,22.144 
										16.284,22.144 16.284,22.609 18.127,22.609 18.127,22.144 18.129,22.144 18.129,18.146 18.818,18.146 18.818,22.144 
										18.818,22.609 20.662,22.609 20.662,22.144 20.257,22.144 20.257,18.146 22.646,18.146 20.292,13.554 20.421,11.948 22.67,14.962 
										24.16,14.591 20.594,9.769 		"/>
								</g>
							</g>
							</svg>
							{{ teamIsActive }}
						</p>
						<div class="text-black font-bold text-xl mb-2">{{ team.name }}</div>
						<p class="text-grey-darker text-base"></p>
					</div>
					<div class="flex items-center">
						<div class="text-sm">
							<p class="text-black leading-none">Active since: {{ team.created_at }}</p>
							<p class="text-grey-dark">{{ personCount }}</p>
						</div>
					</div>
				</div>
			</div>	
		</a>
	</div>
</template>

<script>
	export default {
		props: [
			'inteam'
		],
		data() {
			return {
				team: this.inteam
			}
		},
		watch: {
			inteam(n, o) {

				this.team = n

			}
		},
		methods: {

		},
		computed: {
			teamIsActive() {
				return this.team && this.team.active ? 'active' : 'inactive'
			},
			personCount() {
				switch (this.team.people.length) {
					case 1:
						return '1 person'
						break;
					default:
						return this.team.people.length + ' people'
						break;
				}
			}			
		}
	}
</script>