<template>
	<form class="w-full max-w-md" v-on:submit.prevent="addMeetup">
		<div class="flex flex-wrap flex-row mx-3 mb-6 content-center w-full">
			<h4 class="text-black text-base text-2xl font-bold w-full mb-6">Add Meetup</h4>
			<div class="w-full md:w-1/2 px-3 mb-6 md:mb-0">
				<label class="block uppercase tracking-wide text-grey-darker text-xs font-bold mb-2" for="grid-first-name">
					Name (required)
				</label>
				<input class="appearance-none block w-full bg-grey-lighter text-grey-darker border border-red rounded py-3 px-4 mb-3 leading-tight focus:outline-none focus:bg-white" type="text" placeholder="Amazing Event!" v-model="meetup.title" required>
			</div>
			<div class="w-full md:w-1/2 px-3 mb-6 md:mb-0">
				<label class="block uppercase tracking-wide text-grey-darker text-xs font-bold mb-2" for="grid-first-name">
					Description (required)
				</label>
				<input class="appearance-none block w-full bg-grey-lighter text-grey-darker border border-red rounded py-3 px-4 mb-3 leading-tight focus:outline-none focus:bg-white" type="text" placeholder="Gonna be incredible!" v-model="meetup.description" required>
			</div>
			<div class="w-full md:w-1/2 px-3 mb-6 md:mb-0">
				<label class="block uppercase tracking-wide text-grey-darker text-xs font-bold mb-2" for="grid-first-name">
					Start Date<br /><span class="text-xs">(required)</span>
				</label>
				<datepicker v-model="meetup.start_date" input-class="appearance-none block w-full bg-grey-lighter text-grey-darker border border-red rounded py-3 px-4 mb-3 leading-tight focus:outline-none focus:bg-white" :typeable="true"></datepicker>
			</div>
			<div class="w-full md:w-1/2 px-3 mb-6 md:mb-0">
				<label class="block uppercase tracking-wide text-grey-darker text-xs font-bold mb-2" for="grid-first-name">
					Start Time<br /><span class="text-xs">(required, format HH:mm, like 13:00 for 1 PM)</span>
				</label>
				<input type="text" v-model="startTime" class="appearance-none block w-full bg-grey-lighter text-grey-darker border border-red rounded py-3 px-4 mb-3 leading-tight focus:outline-none focus:bg-white" />
			</div>
			<div class="w-full md:w-1/2 px-3 mb-6 md:mb-0">
				<label class="block uppercase tracking-wide text-grey-darker text-xs font-bold mb-2" for="grid-first-name">
					End Date<br /><span class="text-xs">(required)</span>
				</label>
				<datepicker v-model="meetup.end_date" input-class="appearance-none block w-full bg-grey-lighter text-grey-darker border border-red rounded py-3 px-4 mb-3 leading-tight focus:outline-none focus:bg-white" :typeable="true"></datepicker>
			</div>
			<div class="w-full md:w-1/2 px-3 mb-6 md:mb-0">
				<label class="block uppercase tracking-wide text-grey-darker text-xs font-bold mb-2" for="grid-first-name">
					End Time<br /><span class="text-xs">(required, format HH:mm, like 13:00 for 1 PM)</span>
				</label>
				<input type="text" v-model="endTime" class="appearance-none block w-full bg-grey-lighter text-grey-darker border border-red rounded py-3 px-4 mb-3 leading-tight focus:outline-none focus:bg-white" />
			</div>
			<div class="w-full mb-6 md:mb-0">
				<label class="block uppercase tracking-wide text-grey-darker text-xs font-bold mb-2" for="teams">
					Teams (select as many as you would like)
				</label>
				<div class="inline-block relative w-full">
					<select class="block appearance-none w-full bg-white border border-grey-light hover:border-grey px-4 py-2 pr-8 rounded shadow leading-tight focus:outline-none focus:shadow-outline" multiple v-model="selectedTeams">
				    	<option v-for="g in teams" :key="g.id" :value="g.id">{{ g.name }}</option>
					</select>
					<div class="pointer-events-none absolute pin-y pin-r flex items-center px-2 text-grey-darker">
						<svg class="fill-current h-4 w-4" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"><path d="M9.293 12.95l.707.707L15.657 8l-1.414-1.414L10 10.828 5.757 6.586 4.343 8z"/></svg>
					</div>
				</div>
			</div>
			<div class="bg-red-lightest border border-red-light text-red-dark px-4 py-3 rounded relative" role="alert" v-if="error">
				<strong class="font-bold">Holy smokes!</strong>
				<span class="block sm:inline">{{ error }}</span>
			</div>
			<div class="w-full md:w-1/3 px-3 mb-6 md:mb-0">
				<input type="submit" class="block bg-white hover:bg-grey-lightest text-grey-darkest font-semibold py-2 px-4 border border-grey-light rounded shadow cursor-pointer" value="Add Meetup" />
			</div>
		</div>
	</form>
</template>

<script>

	import Datepicker from 'vuejs-datepicker';
	import VueTimepicker from 'vue2-timepicker'

	export default {
		components: {
			Datepicker,
			VueTimepicker
		},
		props: [
			'inmeetup',
			'instarttime',
			'inendtime'
		],
		data() {
			return {
				meetup: this.inmeetup || {
					start_date: new Date(),
					end_date: new Date()
				},
				startTime: this.instarttime || '10:30',
				endTime: this.inendtime || '12:30',
				teams: [],
				selectedTeams: [],
				error: ''
			}
		},
		methods: {
			addMeetup() {

				let self = this

				this.error = ''

				if(!this.meetup.start_date) {
					this.error = 'Please enter a start date'
					return false
				}

				if(!this.startTime) {
					this.error = 'Please enter a start time'
				}

				if(!this.meetup.end_date) {
					this.error = 'Please enter a end date'
					return false
				}

				if(!this.endTime) {
					this.error = 'Please enter a end time'
				}

				if(!this.meetup.title) {
					this.error = 'Please enter a name'
					return false
				}

				if(!this.meetup.description) {
					this.error = 'Please enter a description'
					return false
				}

				// set dates
				this.meetup.start = `${this.meetup.start_date.toDateString()} ${this.startTime}:00`
				this.meetup.end = `${this.meetup.end_date.toDateString()} ${this.endTime}:00`

				let sendData = {
					meetup: this.meetup,
					teams: this.selectedTeams
				}

				window.axios.post('/app/meetup/add', sendData)
				.then((response) => {
					Event.$emit('get-meetups')
					self.meetup = {}
					self.selectedTeams = []
					this.$awn.success('Meetup added!', {durations: {success: 3}})
					this.$modal.hide('addMeetup')
				})
				.catch((error) => {
					this.$awn.alert('ERROR: ' + error.error, {duration: {error: 5}})
				})

			},
			getTeams() {

				let self = this

				window.axios.get('/app/team/get')
				.then((response) => {
					self.teams = response.data
				})

			},
			updateEnd() {
				this.meetup.end = this.meetup.start
			},
			updateStart() {
				this.meetup.start = this.meetup.end
			}
		},
		watch: {
			inmeetup(n, o) {
				this.meetup = n
			}
		},
		computed: {
			addEdit() {
				return this.inmeetup == null ? 'Add' : 'Edit'
			}
		},
		mounted() {
			this.getTeams()
		}
	}
</script>