<template>
	<form class="w-full max-w-md" v-on:submit.prevent="updateCheck">
		<div class="flex flex-wrap flex-row mx-3 mb-6 content-center w-full">
			<h4 class="text-black text-base text-2xl font-bold w-full mb-6">Add Note</h4>
			<div class="w-full px-3 mb-6 md:mb-0">
				<label class="block uppercase tracking-wide text-grey-darker text-xs font-bold mb-2" for="grid-first-name">
					Notes
				</label>
				<input class="appearance-none block w-full bg-grey-lighter text-grey-darker border border-red rounded py-3 px-4 mb-3 leading-tight focus:outline-none focus:bg-white" type="text" v-model="notes">
			</div>
			<div class="w-full md:w-1/3 px-3 mb-6 md:mb-0">
				<input type="submit" class="block bg-white hover:bg-grey-lightest text-grey-darkest font-semibold py-2 px-4 border border-grey-light rounded shadow cursor-pointer" value="Update Check" />
			</div>
		</div>
	</form>
</template>

<script>
	export default {
		props: [
			'incheck'
		],
		data() {
			return {
				check: this.incheck,
				notes: null
			}
		},
		watch: {
			incheck(n, o) {
				this.check = n
			}
		},
		methods: {
			updateCheck() {

				let self = this

				window.axios.post('/app/check/' + this.check.id, {notes: this.notes})
				.then((response) => {

					this.$modal.hide('checkModal')
					Event.$emit('get-meetup')

				})

			}
		}
	}
</script>