<template>
	<section class="flex flex-row content-space-between">
		<!--Table Card-->
		<div class="bg-white border rounded shadow w-full">
		    <div class="border-b p-3">
		        <h5 class="uppercase text-grey-dark">History</h5>
		    </div>
		    <div class="p-5">
		        <table class="w-full p-5 text-grey-darker">
		            <tbody>
	                	<tr class="cursor-pointer" v-for="c in checks" :key="c.id">
	                		<td>
	                			<span class="inline-block border border-blue rounded py-2 px-4 bg-blue hover:bg-blue-dark text-white">{{ c.person.last_name }}, {{ c.person.first_name }}</span>
	                		</td>
	                		<td>
	                			<badge :type="c.in_out ? 'in' : 'out'" />
	                		</td>
	                		<td>
	                			at {{ c.created_at }}
	                		</td>
	                		<td>
	                			{{ c.notes }}
	                		</td>
	                	</tr>
		            </tbody>
		        </table>
		    </div>
		</div>
		<!--/table Card-->
	</section>
</template>

<script>

	import draggable from "vuedraggable"

	import CheckModal from './CheckModal'

	export default {
		components: {
			draggable,
			CheckModal
		},
		props: {
			inmeetup: Object,
			user: Object
		},
		data() {
			return {
				meetup: this.inmeetup,
				checks: []
			}
		},
		watch: {
			inmeetup(n, o) {
				this.meetup = n
				this.getChecks()
			}
		},
		methods: {
			getChecks() {
				if(!this.meetup) {
					return false
				}

				let self = this

				window.axios.get('/app/meetup/history/' + this.meetup.id)
				.then((response) => {
					self.checks = response.data
				})
			}
		},
		mounted() {
			this.getChecks()
		}
	}
</script>
