<template>
	<section class="flex flex-row content-space-between">
		<div class="bg-white border rounded shadow w-1/2" v-if="!inlist.length && !outlist.length">
		    <div class="border-b p-3">
		        <h5 class="uppercase text-grey-dark">Not Started</h5>
		    </div>
		    <div class="p-5" v-if="['admin', 'counselor'].indexOf(user.role) >= 0">
		        <p>This meetup hasn't started yet. You can start it manually if you like!</p>
		        <button type="button" class="block bg-white hover:bg-grey-lightest text-grey-darkest font-semibold py-2 px-4 border border-grey-light rounded shadow cursor-pointer" v-on:click="startMeetup">Start Meetup</button>
		    </div>
		</div>
		<!--Table Card-->
		<div class="bg-white border rounded shadow w-1/2" v-if="inlist.length || outlist.length">
		    <div class="border-b p-3">
		        <h5 class="uppercase text-grey-dark">Out</h5>
		    </div>
		    <div class="p-5">
		        <table class="w-full p-5 text-grey-darker">
		        	<thead>
		        		<tr>
		        			<td>
		        				<input class="appearance-none block w-full bg-grey-lighter text-grey-darker border border-red rounded py-3 px-4 mb-3 leading-tight focus:outline-none focus:bg-white" type="text" placeholder="Filter" v-model="filterOut" />
		        			</td>
		        		</tr>
		        	</thead>
		            <tbody>
		                <draggable class="list-group" :list="filteredOutlist" group="people" :move="changeCheck">
		                	<tr class="cursor-pointer" v-for="l in filteredOutlist" :key="l.id" v-if="l.person">
		                		<td>
		                			<badge :type="'name-in'" :text="l.person.last_name + ', ' + l.person.first_name" :image="l.image ? '/ storage/' + l.image : '/people.svg'" />
		                			<!-- {{ l.person.last_name }}, {{ l.person.first_name }} -->
		                		</td>
		                	</tr>
		                </draggable>
		            </tbody>
		        </table>
		    </div>
		</div>
		<!--/table Card-->
		<!--Table Card-->
		<div class="bg-white border rounded shadow w-1/2" v-if="inlist.length || outlist.length">
		    <div class="border-b p-3">
		        <h5 class="uppercase text-grey-dark">In</h5>
		    </div>
		    <div class="p-5">
		        <table class="w-full p-5 text-grey-darker">
		        	<thead>
		        		<tr>
		        			<td>
		        				<input class="appearance-none block w-full bg-grey-lighter text-grey-darker border border-red rounded py-3 px-4 mb-3 leading-tight focus:outline-none focus:bg-white" type="text" placeholder="Filter" v-model="filterIn" />
		        			</td>
		        		</tr>
		        	</thead>
		            <tbody>
		                <draggable class="list-group" :list="filteredInlist" group="people" :move="changeCheck">
		                	<tr class="cursor-pointer" v-for="l in filteredInlist" :key="l.id" v-if="l.person">
		                		<td>
		                			<badge :type="'name-out'" :text="l.person.last_name + ', ' + l.person.first_name" :image="l.image ? '/storage/' + l.image : '/people.svg'" />
		                		</td>
		                		<!-- <td>{{ l.person.last_name }}, {{ l.person.first_name }}</td> -->
		                	</tr>
		                </draggable>
		            </tbody>
		        </table>
		    </div>
		</div>
		<!--/table Card-->
	</section>
</template>

<script>

	import draggable from "vuedraggable"

	import CheckModal from './CheckModal'

	export default {
		components: {
			draggable,
			CheckModal
		},
		props: {
			inmeetup: Object,
			user: Object
		},
		data() {
			return {
				meetup: this.inmeetup,
				inlist: [],
				outlist: [],
				filterIn: '',
				filterOut: ''
			}
		},
		watch: {
			inmeetup(n, o) {
				this.meetup = n
				this.setLists()
			}
		},
		methods: {
			startMeetup() {

				let self = this

				window.axios.get(`/app/meetup/start/${this.meetup.id}`)
				.then((response) => {

					self.getMeetup()

				})

			},
			getMeetup() {

				let self = this

				window.axios.get(`/app/meetup/${this.meetup.id}`)
				.then((response) => {
					self.meetup = response.data
					self.setLists()
				})

			},
			setLists() {

				const checks = this.meetup.checks

				// Set in list
				let inlist = checks.filter(function(c) {
					return (c.in_out == '1')
				})

				inlist.forEach((l) => {
					l.checked = true
				})

				this.inlist = inlist

				// Set out list
				let outlist = checks.filter(function(c) {
					return (c.in_out == '0')
				})

				outlist.forEach((l) => {
					l.checked = false
				})

				this.outlist = outlist

			},
			changeCheck(evt, originalEvent) {

				this.$modal.show(
					CheckModal,
					{
						incheck: evt.draggedContext.element
					},
					{
						height: 'auto',
						width: '80%',
						scrollable: true,
						name: 'checkModal'
					},{
						'before-close': (event) => {

							console.log(event)
							let self = this

							window.axios.post('/app/check/' + evt.draggedContext.element.id)
							.then((response) => {

								this.$modal.hide('checkModal')
								Event.$emit('get-meetup')

							})
						}
					}
				)
			}
		},
		computed: {
			filteredInlist() {

				let self = this

				if(!this.filterIn) {
					return this.inlist
				}

				let output = this.inlist.filter((i) => {
					if(i.person) {
						let s = (i.person.last_name + i.person.first_name).toLowerCase()
						return s.includes(self.filterIn.toLowerCase())
					}
				})

				output = output.sort((a, b) => {
					if(a.last_name < b.last_name) { return -1 }
					if(a.last_name > b.last_name) { return 1 }
					if(a.first_name < b.first_name) { return -1 }
					if(a.first_name > b.first_name) { return 1 }
					return 0
				})

				return output

			},
			filteredOutlist() {

				let self = this

				if(!this.filterOut) {
					return this.outlist
				}

				let output = this.outlist.filter((i) => {
					if(i.person) {
						let s = (i.person.last_name + i.person.first_name).toLowerCase()
						return s.includes(self.filterOut.toLowerCase())
					}
				})

				output = output.sort((a, b) => {
					if(a.last_name < b.last_name) { return -1 }
					if(a.last_name > b.last_name) { return 1 }
					if(a.first_name < b.first_name) { return -1 }
					if(a.first_name > b.first_name) { return 1 }
					return 0
				})

				return output

			}
		},
		mounted() {
			this.setLists()
		}
	}
</script>
