<template>
	<div class="w-full px-4 md:px-0 md:mt-8 mb-16 text-grey-darkest leading-normal">
		<!--Console Content-->
		<div class="flex flex-wrap">
			<div class="w-full md:w-1/2 xl:w-1/3 p-3 cursor-pointer" v-if="['admin', 'counselor'].indexOf(user.role) >= 0" v-on:click="selectedTab = 'run'">
				<!--Metric Card-->
				<div class="bg-white border rounded shadow p-2">
					<div class="flex flex-row items-center">
						<div class="flex-shrink pr-4">
							<div class="rounded p-3 bg-green-dark"><i class="fa fa-wallet fa-2x fa-fw fa-inverse"></i></div>
						</div>
						<div class="flex-1 text-right md:text-center">
							<h3 class="text-3xl uppercase text-grey">Run</h3>
						</div>
					</div>
				</div>
				<!--/Metric Card-->
			</div>
			<div class="w-full md:w-1/2 xl:w-1/3 p-3 cursor-pointer" v-on:click="selectedTab = 'history'">
				<!--Metric Card-->
				<div class="bg-white border rounded shadow p-2">
					<div class="flex flex-row items-center">
						<div class="flex-shrink pr-4">
							<div class="rounded p-3 bg-orange-dark"><i class="fas fa-users fa-2x fa-fw fa-inverse"></i></div>
						</div>
						<div class="flex-1 text-right md:text-center">
							<h3 class="text-3xl uppercase text-orange">History</h3>
						</div>
					</div>
				</div>
				<!--/Metric Card-->
			</div>
			<div class="w-full md:w-1/2 xl:w-1/3 p-3 cursor-pointer" v-if="['admin', 'counselor'].indexOf(user.role) >= 0" v-on:click="selectedTab = 'settings'">
				<!--Metric Card-->
				<div class="bg-white border rounded shadow p-2">
					<div class="flex flex-row items-center">
						<div class="flex-shrink pr-4">
							<div class="rounded p-3 bg-yellow-dark"><i class="fas fa-user-plus fa-2x fa-fw fa-inverse"></i></div>
						</div>
						<div class="flex-1 text-right md:text-center">
							<h3 class="text-3xl uppercase text-yellow-dark">Settings</h3>
						</div>
					</div>
				</div>
				<!--/Metric Card-->
			</div>
		</div>
		<div class="border-b p-3 flex flex-row content-between justify-between">
			<div class="flex flex-row content-between justify-between">
				<h2 class="font-bold text-3x mx-3 uppercase text-gray-600">
					{{ meetup.title }}
				</h2>
			</div>
			<div>
				<button class="bg-white hover:bg-gray-100 text-gray-800 font-semibold py-2 px-4 border border-gray-400 rounded shadow text-xs" v-if="['admin', 'counselor'].indexOf(user.role) >= 0" v-on:click="editMeetup">
					Edit
				</button>
			</div>
		</div>
		<!-- Cards go here -->
		<meetup-run v-if="selectedTab == 'run'" :inmeetup="meetup" :user="user"></meetup-run>
		<check-history v-if="selectedTab == 'history'" :inmeetup="meetup" :user="user"></check-history>
	</div>
</template>

<script>

	import MeetupRun from './MeetupRun'
	import CheckHistory from './CheckHistory'
	import AddMeetup from './AddMeetup'
	import moment from 'moment'

	export default {
		components: {
			MeetupRun,
			CheckHistory
		},
		props: {
			inmeetup: Object,
			user: Object
		},
		data() {
			let tab = 'history';

			if (['admin', 'counselor'].indexOf(this.user.role) >= 0) {
				tab = 'run';
			}

			return {
				meetup: this.inmeetup,
				selectedTab: tab
			}
		},
		watch: {
			inmeetup(n, o) {
				this.meetup = n
			}
		},
		methods: {
			getMeetup() {

				let self = this

				if(!this.meetup) {
					return false
				}

				window.axios.get('/app/meetup/' + this.meetup.id)
				.then((response) => {
					self.meetup = response.data
				})

			},
			editMeetup() {

				// We need to parse the meetup to pass back through
				let m = this.meetup
				let start = moment(m.start)
				let end = moment(m.end)
				m.start_date = start.toDate()
				m.end_date = end.toDate()

				this.$modal.show(
					AddMeetup,
					{
						inmeetup: m,
						instarttime: start.format('HH:mm'),
						inendtime: end.format('HH:mm')
					},
					{
						height: 'auto',
						width: '80%',
						scrollable: true,
						name: 'addMeetup'
					}
				)

			}
		},
		created() {
			Event.$on('get-meetup', this.getMeetup)
		},
		beforeDestroy() {
			Event.$off('get-meetup')
		}
	}
</script>
