<template>
	<form class="w-full max-w-md" v-on:submit.prevent="addGuardian">
		<div class="p-5">
			<div class="flex flex-row">
				<div class="text-black text-base text-2xl font-bold w-full mb-6">
					<h5>{{ addEdit }} Counselor</h5>
				</div>
			</div>
			<div>
				<div class="flex flex-row">
					<div class="w-full md:w-1/3 px-3 mb-6 md:mb-0">
						<label class="block uppercase tracking-wide text-grey-darker text-xs font-bold mb-2" for="grid-first-name">
							First Name
						</label>
						<input class="appearance-none block w-full bg-grey-lighter text-grey-darker border border-red rounded py-3 px-4 mb-3 leading-tight focus:outline-none focus:bg-white" type="text" v-model="person.first_name">
					</div>
					<div class="w-full md:w-1/3 px-3 mb-6 md:mb-0">
						<label class="block uppercase tracking-wide text-grey-darker text-xs font-bold mb-2" for="grid-first-name">
							Last Name
						</label>
						<input class="appearance-none block w-full bg-grey-lighter text-grey-darker border border-red rounded py-3 px-4 mb-3 leading-tight focus:outline-none focus:bg-white" type="text" placeholder="Amazing" v-model="person.last_name">
					</div>
					<div class="w-full md:w-1/3 px-3 mb-6 md:mb-0">
						<label class="block uppercase tracking-wide text-grey-darker text-xs font-bold mb-2" for="grid-first-name">
							Email
						</label>
						<input class="appearance-none block w-full bg-grey-lighter text-grey-darker border border-red rounded py-3 px-4 mb-3 leading-tight focus:outline-none focus:bg-white" type="email" placeholder="jane@amazing.com" v-model="person.email">
					</div>
				</div>
				<div class="flex flex-row">
					<div class="w-full md:w1/2 px-3 mb-6 md:mb-0">
						<vue-dropzone
							ref="myVueDropzone"
							id="dropzone"
							:options="dropzoneOptions"
							v-on:vdropzone-success="setFiles"
						></vue-dropzone>
					</div>
				</div>
				<div class="flex flex-row">
					<div class="w-full md:w-1/3 px-3 mb-6 md:mb-0">
						<label class="block uppercase tracking-wide text-grey-darker text-xs font-bold mb-2" for="grid-first-name">
							Home Phone
						</label>
						<input class="appearance-none block w-full bg-grey-lighter text-grey-darker border border-red rounded py-3 px-4 mb-3 leading-tight focus:outline-none focus:bg-white" type="text" placeholder="215-555-5555" v-model="person.profile.home_phone">
					</div>
					<div class="w-full md:w-1/3 px-3 mb-6 md:mb-0">
						<label class="block uppercase tracking-wide text-grey-darker text-xs font-bold mb-2" for="grid-first-name">
							Mobile Phone
						</label>
						<input class="appearance-none block w-full bg-grey-lighter text-grey-darker border border-red rounded py-3 px-4 mb-3 leading-tight focus:outline-none focus:bg-white" type="text" placeholder="215-555-5555" v-model="person.profile.mobile_phone">
					</div>
					<div class="w-full md:w-1/3 px-3 mb-6 md:mb-0">
						<label class="block uppercase tracking-wide text-grey-darker text-xs font-bold mb-2" for="grid-first-name">
							Work Phone
						</label>
						<input class="appearance-none block w-full bg-grey-lighter text-grey-darker border border-red rounded py-3 px-4 mb-3 leading-tight focus:outline-none focus:bg-white" type="text" placeholder="215-555-5555" v-model="person.profile.work_phone">
					</div>
				</div>
			</div>
			<div class="w-full mb-6 md:mb-0">
				<label class="block uppercase tracking-wide text-grey-darker text-xs font-bold mb-2" for="teams">
					Teams (select as many as you would like)
				</label>
				<div class="inline-block relative w-full">
					<select class="block appearance-none w-full bg-white border border-grey-light hover:border-grey px-4 py-2 pr-8 rounded shadow leading-tight focus:outline-none focus:shadow-outline" multiple v-model="selectedTeams">
				    	<option v-for="g in teams" :key="g.id" :value="g.id">{{ g.name }}</option>
					</select>
					<div class="pointer-events-none absolute pin-y pin-r flex items-center px-2 text-grey-darker">
						<svg class="fill-current h-4 w-4" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"><path d="M9.293 12.95l.707.707L15.657 8l-1.414-1.414L10 10.828 5.757 6.586 4.343 8z"/></svg>
					</div>
				</div>
			</div>
			<div class="w-full md:w-1/3 px-3 mb-6 md:mb-0">
				<input type="submit" class="block bg-white hover:bg-grey-lightest text-grey-darkest font-semibold py-2 px-4 border border-grey-light rounded shadow cursor-pointer" :value="addEdit + ' Counselor'" />
			</div>
		</div>
	</form>
</template>

<script>

	import vue2Dropzone from 'vue2-dropzone'
	import 'vue2-dropzone/dist/vue2Dropzone.min.css'

	export default {
		components: {
			vueDropzone: vue2Dropzone
		},
		props: [
			'inperson'
		],
		data() {
			return {
				person: this.inperson || {
					profile: {

					}
				},
				teams: [],
				selectedTeams: [],
				dropzoneOptions: {
					url: '/app/media',
					thumbnailWidth: 150,
					maxFilesize: 10,
					maxFiles: 1,
					headers: { 
						'X-CSRF-TOKEN': window.csrfToken
					}
				}
			}
		},
		computed: {
			addEdit() {
				return this.inperson == null ? 'Add' : 'Edit'
			}
		},
		methods: {
			addGuardian() {

				let self = this

				let sendData = {
					person: this.person,
					teams: this.selectedTeams,
					role: 'counselor'
				}

				window.axios.post('/app/person/add-with-type', sendData)
				.then((response) => {
					Event.$
					Event.$emit('get-program')
					Event.$emit('get-teams')
					Event.$emit('get-team')
					self.person = {
						profile: {

						}
					}
					self.selectedTeams = []
					this.$awn.success('Person added!', {durations: {success: 3}})
					this.$modal.hide('addPerson')
				})
				.catch((error) => {
					this.$awn.alert('ERROR: ' + error.error, {duration: {error: 5}})
				})

			},
			getTeams() {

				let self = this

				window.axios.get('/app/team/get')
				.then((response) => {
					self.teams = response.data
				})

			},
			setFiles(files, response) {

				this.person.image = response

			},
		},
		watch: {
			inperson(n, o) {
				this.person = n
			}
		},
		mounted() {

			this.getTeams()

		}
	}
</script>