<template>
	<div class="w-full px-4 md:px-0 md:mt-8 mb-16 text-grey-darkest leading-normal">
		<!--Console Content-->
		<div class="flex flex-wrap">
			<div class="w-full md:w-1/2 xl:w-1/3 p-3 cursor-pointer" v-on:click="selectedTab = 'campers'">
				<!--Metric Card-->
				<div class="bg-white border rounded shadow p-2">
					<div class="flex flex-row items-center">
						<div class="flex-shrink pr-4">
							<div class="rounded p-3 bg-green-dark"><i class="fa fa-wallet fa-2x fa-fw fa-inverse"></i></div>
						</div>
						<div class="flex-1 text-right md:text-center">
							<h3 class="text-3xl uppercase text-grey">Campers</h3>
						</div>
					</div>
				</div>
				<!--/Metric Card-->
			</div>
			<div class="w-full md:w-1/2 xl:w-1/3 p-3 cursor-pointer" v-on:click="selectedTab = 'guardians'">
				<!--Metric Card-->
				<div class="bg-white border rounded shadow p-2">
					<div class="flex flex-row items-center">
						<div class="flex-shrink pr-4">
							<div class="rounded p-3 bg-orange-dark"><i class="fas fa-users fa-2x fa-fw fa-inverse"></i></div>
						</div>
						<div class="flex-1 text-right md:text-center">
							<h3 class="text-3xl uppercase text-orange">Guardians</h3>
						</div>
					</div>
				</div>
				<!--/Metric Card-->
			</div>
			<div class="w-full md:w-1/2 xl:w-1/3 p-3 cursor-pointer" v-on:click="selectedTab = 'counselors'">
				<!--Metric Card-->
				<div class="bg-white border rounded shadow p-2">
					<div class="flex flex-row items-center">
						<div class="flex-shrink pr-4">
							<div class="rounded p-3 bg-yellow-dark"><i class="fas fa-user-plus fa-2x fa-fw fa-inverse"></i></div>
						</div>
						<div class="flex-1 text-right md:text-center">
							<h3 class="text-3xl uppercase text-yellow-dark">Counselors</h3>
						</div>
					</div>
				</div>
				<!--/Metric Card-->
			</div>
		</div>
		<!-- Cards go here -->
		<add-person v-if="selectedTab == 'campers'"></add-person>
		<add-guardian v-if="selectedTab == 'guardians'"></add-guardian>
		<add-counselor v-if="selectedTab == 'counselors'"></add-counselor>
	</div>
</template>

<script>

	import AddPerson from '../person/AddPerson'
	import AddGuardian from '../person/AddGuardian'
	import AddCounselor from '../person/AddCounselor'

	export default {
		components: {
			AddPerson,
			AddGuardian,
			AddCounselor
		},
		props: [
		],
		data() {
			return {
				selectedTab: 'campers'
			}
		},
		methods: {
			
		}
	}
</script>