<template>
	<form class="w-full max-w-md" v-on:submit.prevent="addPerson">
		<div class="flex flex-wrap flex-row mx-3 mb-6 content-center w-full">
			<h4 class="text-black text-base text-2xl font-bold w-full mb-6">{{ addEdit }} Camper</h4>
			<div class="w-full md:w-1/2 px-3 mb-6 md:mb-0">
				<label class="block uppercase tracking-wide text-grey-darker text-xs font-bold mb-2" for="grid-first-name">
					First Name (required)
				</label>
				<input class="appearance-none block w-full bg-grey-lighter text-grey-darker border border-red rounded py-3 px-4 mb-3 leading-tight focus:outline-none focus:bg-white" type="text" placeholder="Jane" v-model="person.first_name" required>
			</div>
			<div class="w-full md:w-1/2 px-3 mb-6 md:mb-0">
				<label class="block uppercase tracking-wide text-grey-darker text-xs font-bold mb-2" for="grid-first-name">
					Last Name (required)
				</label>
				<input class="appearance-none block w-full bg-grey-lighter text-grey-darker border border-red rounded py-3 px-4 mb-3 leading-tight focus:outline-none focus:bg-white" type="text" placeholder="Amazing" v-model="person.last_name" required>
			</div>
			<div class="w-full md:w-1/3 px-3 mb-6 md:mb-0">
				<label class="block uppercase tracking-wide text-grey-darker text-xs font-bold mb-2" for="grid-first-name">
					Email
				</label>
				<input class="appearance-none block w-full bg-grey-lighter text-grey-darker border border-red rounded py-3 px-4 mb-3 leading-tight focus:outline-none focus:bg-white" type="email" placeholder="jane@amazing.com" v-model="person.email">
			</div>
			<div class="w-full md:w1/2 px-3 mb-6 md:mb-0">
				<vue-dropzone
					ref="myVueDropzone"
					id="dropzone"
					:options="dropzoneOptions"
					v-on:vdropzone-success="setFiles"
				></vue-dropzone>
			</div>
			<div class="w-full md:w-1/3 px-3 mb-6 md:mb-0">
				<label class="block uppercase tracking-wide text-grey-darker text-xs font-bold mb-2" for="grid-first-name">
					Gender
				</label>
				<input class="appearance-none block w-full bg-grey-lighter text-grey-darker border border-red rounded py-3 px-4 mb-3 leading-tight focus:outline-none focus:bg-white" type="text" v-model="person.profile.gender">
			</div>
			<div class="w-full md:w-1/3 px-3 mb-6 md:mb-0">
				<label class="block uppercase tracking-wide text-grey-darker text-xs font-bold mb-2" for="grid-first-name">
					DOB
				</label>
				<datepicker v-model="person.profile.dob" input-class="appearance-none block w-full bg-grey-lighter text-grey-darker border border-red rounded py-3 px-4 mb-3 leading-tight focus:outline-none focus:bg-white" :typeable="true"></datepicker>
			</div>
			<div class="w-full md:w-1/3 px-3 mb-6 md:mb-0">
				<label class="block uppercase tracking-wide text-grey-darker text-xs font-bold mb-2" for="grid-first-name">
					School
				</label>
				<input class="appearance-none block w-full bg-grey-lighter text-grey-darker border border-red rounded py-3 px-4 mb-3 leading-tight focus:outline-none focus:bg-white" type="text" v-model="person.profile.school">
			</div>
			<div class="w-full md:w-1/3 px-3 mb-6 md:mb-0">
				<label class="block uppercase tracking-wide text-grey-darker text-xs font-bold mb-2" for="grid-first-name">
					Grade
				</label>
				<input class="appearance-none block w-full bg-grey-lighter text-grey-darker border border-red rounded py-3 px-4 mb-3 leading-tight focus:outline-none focus:bg-white" type="text" v-model="person.profile.grade">
			</div>
			<div class="w-full md:w-1/3 px-3 mb-6 md:mb-0">
				<label class="block uppercase tracking-wide text-grey-darker text-xs font-bold mb-2" for="grid-first-name">
					Shirt Size
				</label>
				<input class="appearance-none block w-full bg-grey-lighter text-grey-darker border border-red rounded py-3 px-4 mb-3 leading-tight focus:outline-none focus:bg-white" type="text" v-model="person.profile.shirt_size">
			</div>
			<div class="w-full mb-6 md:mb-0" v-if="!inteam">
				<label class="block uppercase tracking-wide text-grey-darker text-xs font-bold mb-2" for="teams">
					Teams (select as many as you would like)
				</label>
				<div class="inline-block relative w-full">
					<select class="block appearance-none w-full bg-white border border-grey-light hover:border-grey px-4 py-2 pr-8 rounded shadow leading-tight focus:outline-none focus:shadow-outline" multiple v-model="selectedTeams">
				    	<option v-for="g in teams" :key="g.id" :value="g.id">{{ g.name }}</option>
					</select>
					<div class="pointer-events-none absolute pin-y pin-r flex items-center px-2 text-grey-darker">
						<svg class="fill-current h-4 w-4" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"><path d="M9.293 12.95l.707.707L15.657 8l-1.414-1.414L10 10.828 5.757 6.586 4.343 8z"/></svg>
					</div>
				</div>
			</div>
			<div class="w-full px-3 mb-6 md:mb-0">
				<label class="block uppercase tracking-wide text-grey-darker text-xs font-bold mb-2" for="grid-first-name">
					Guardians (select as many as yuo would like)
				</label>
				<div class="inline-block relative w-full">
					<select class="block appearance-none w-full bg-white border border-grey-light hover:border-grey px-4 py-2 pr-8 rounded shadow leading-tight focus:outline-none focus:shadow-outline" v-model="selectedGuardians" multiple>
				    	<option v-for="g in guardians" :key="g.id" :value="g.id">{{ g.last_name }}, {{ g.first_name }}</option>
					</select>
					<div class="pointer-events-none absolute pin-y pin-r flex items-center px-2 text-grey-darker">
						<svg class="fill-current h-4 w-4" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"><path d="M9.293 12.95l.707.707L15.657 8l-1.414-1.414L10 10.828 5.757 6.586 4.343 8z"/></svg>
					</div>
				</div>
			</div>
			<div class="w-full px-3 mb-6 md:mb-0">
				<label class="block uppercase tracking-wide text-grey-darker text-xs font-bold mb-2" for="grid-first-name">
					Allergies
				</label>
				<input class="appearance-none block w-full bg-grey-lighter text-grey-darker border border-red rounded py-3 px-4 mb-3 leading-tight focus:outline-none focus:bg-white" type="text" v-model="person.profile.allergies">
			</div>
			<div class="w-full px-3 mb-6 md:mb-0">
				<label class="block uppercase tracking-wide text-grey-darker text-xs font-bold mb-2" for="grid-first-name">
					Notes
				</label>
				<input class="appearance-none block w-full bg-grey-lighter text-grey-darker border border-red rounded py-3 px-4 mb-3 leading-tight focus:outline-none focus:bg-white" type="text" v-model="person.profile.notes">
			</div>
			<div class="w-full md:w-1/3 px-3 mb-6 md:mb-0">
				<input type="submit" class="block bg-white hover:bg-grey-lightest text-grey-darkest font-semibold py-2 px-4 border border-grey-light rounded shadow cursor-pointer" :value="addEdit + ' Person'" />
			</div>
		</div>
	</form>
</template>

<script>

	import Datepicker from 'vuejs-datepicker';
	import vue2Dropzone from 'vue2-dropzone'
	import 'vue2-dropzone/dist/vue2Dropzone.min.css'

	export default {
		components: {
			Datepicker,
			vueDropzone: vue2Dropzone
		},
		props: [
			'inteam',
			'inperson'
		],
		data() {
			return {
				team: this.inteam,
				person: this.inperson || {
					profile: {

					}
				},
				selectedGuardians: [],
				guardians: [],
				teams: [],
				selectedTeams: [this.inteam],
				dropzoneOptions: {
					url: '/app/media',
					thumbnailWidth: 150,
					maxFilesize: 10,
					maxFiles: 1,
					headers: { 
						'X-CSRF-TOKEN': window.csrfToken
					}
				}
			}
		},
		watch: {
			inteam(n, o) {
				this.selectedTeams = [n]
			},
			inperson(n, o) {
				this.person = n
			}
		},
		computed: {
			addEdit() {
				return this.inperson == null ? 'Add' : 'Edit'
			}
		},
		methods: {
			addPerson() {

				let self = this

				let sendData = {
					person: this.person,
					teams: this.selectedTeams,
					guardians: this.selectedGuardians,
					role: 'camper'
				}

				window.axios.post('/app/person/add-with-type', sendData)
				.then((response) => {
					Event.$emit('get-program')
					Event.$emit('get-teams')
					Event.$emit('get-team')
					self.person = {
						profile: {

						}
					}
					self.selectedGuardians = []
					self.selectedTeams = []
					this.$awn.success('Person added!', {durations: {success: 3}})
					this.$modal.hide('addPerson')
				})
				.catch((error) => {
					this.$awn.alert('ERROR: ' + error.error, {duration: {error: 5}})
				})

			},
			getTeams() {

				let self = this

				window.axios.get('/app/team/get')
				.then((response) => {
					self.teams = response.data
				})

			},
			getGuardians() {
				let self = this

				window.axios.get('/app/person/get-type/guardian')
				.then((response) => {
					self.guardians = response.data
				})
			},
			setFiles(files, response) {
				console.log('response', response)
				this.person.image = response

			},
		},
		mounted() {
			this.getGuardians()
			this.getTeams()
		}
	}
</script>