<template>
	<div class="flex flex-row flex-wrap flex-grow mt-2">
	    <div class="w-full p-3">
	        <!--Table Card-->
	        <div class="bg-white border rounded shadow">
	            <div class="border-b p-3">
	                <h5 class="uppercase text-grey-dark">People</h5>
	                <button type="button" class="block bg-white hover:bg-grey-lightest text-grey-darkest font-semibold py-2 px-4 border border-grey-light rounded shadow cursor-pointer" v-if="user.role === 'admin'" v-on:click="showAddPerson">Add Person</button>
	            </div>
	            <div class="p-5">
	                <table class="w-full p-5 text-grey-darker">
	                    <thead>
	                        <tr>
	                        	<th></th>
	                            <th class="text-left text-blue-darkest">Name</th>
	                            <th class="text-left text-blue-darkest">Role</th>
	                        </tr>
	                    </thead>
	                    <tbody>
	                        <tr v-for="p in people" :key="p.id" class="cursor-pointer" v-on:click="goToPerson(p.id)">
	                        	<td><img :src="p.image ? '/storage/' + p.image : '/people.svg'" style="max-width:100px;max-height:100px;" /></td>
	                            <td>{{ p.last_name }}, {{ p.first_name }}</td>
	                            <td><badge :type="p.role" /></td>
	                        </tr>
	                    </tbody>
	                </table>
	            </div>
	        </div>
	        <!--/table Card-->
	    </div>

	</div>
</template>

<script>

	import AddPersonDashboard from '../person/AddPersonDashboard'

	export default {
		components: {
			AddPersonDashboard
		},
		props: {
			inprogram: Object,
			user: Object
		},
		data() {
			return {
				program: this.inprogram,
				people: this.inprogram ? this.inprogram.people : []
			}
		},
		watch: {
			inprogram(n, o) {
				this.program = n
				this.people = n.people
			}
		},
		methods: {
			goToPerson(id) {
				console.log('id', id)
				window.location = '/app/person/view/' + id
			},
			showAddPerson() {
				this.$modal.show(
					AddPersonDashboard,
					{
						inteam: this.team
					},
					{
						height: 'auto',
						width: '80%',
						scrollable: true,
						name: 'addPerson'
					}
				)
			}
		}
	}
</script>
