<template>
	<div class="container p-3">
		<div class="w-full">
			<div class="bg-white border rounded shadow">
				<div class="border-b p-3 flex flex-row content-between justify-between">
					<div class="flex flex-row content-between justify-between">
						<img :src="person.image ? '/storage/' + person.image : '/people.svg'" style="max-width:100px;max-height:100px;" class="block" />
						<h2 class="font-bold text-3x mx-3 uppercase text-gray-600">
							{{ person.last_name }}, {{ person.first_name }}
							<br />
							<badge :type="person.role" />
						</h2>
					</div>
					<div class="flex flex-row">
						<button class="bg-white hover:bg-gray-100 text-gray-800 font-semibold py-2 px-4 border border-gray-400 rounded shadow text-xs" v-if="user.role === 'admin'" v-on:click="editPerson">
							Edit
						</button>
						<button class="bg-white hover:bg-gray-100 text-gray-800 font-semibold py-2 px-4 border border-gray-400 rounded shadow text-xs" v-if="user.role === 'admin'" v-on:click="deletePerson">
							Delete
						</button>
					</div>
				</div>
				<div class="p-5" v-if="person.guardians.length">
					<h3 class="font-bold uppercase text-gray-600">Guardians</h3>
					<div class="w-full md:w-1/2 xl:w-1/3 p-3" v-for="g in person.guardians" :key="g.id">
						<!--Template Card-->
						<div class="bg-white border rounded shadow">
							<div class="border-b p-3">
								<h5 class="font-bold uppercase text-gray-600">{{ g.last_name }}, {{ g.first_name }}</h5>
							</div>
							<div class="p-5">
								<img :src="g.image ? '/storage/' + g.image : '/people.svg'" style="max-width:100px;max-height:100px;" class="block" />
								<div>
									<p v-if="g.email">Email: <a :href="'mailto:' + g.email">{{ g.email }}</a></p>
									<p v-if="g.home_phone">Home Phone: <a :href="'tel:' + g.home_phone">{{ g.home_phone }}</a></p>
									<p v-if="g.work_phone">Work Phone: <a :href="'tel:' + g.work_phone">{{ g.work_phone }}</a></p>
									<p v-if="g.cell_phone">Cell Phone: <a :href="'tel:' + g.cell_phone">{{ g.cell_phone }}</a></p>
								</div>
							</div>
						</div>
						<!--/Template Card-->
					</div>
				</div>
				<div class="p-5" v-if="person.dependents.length">
					<h3 class="font-bold uppercase text-gray-600">Dependents</h3>
					<div class="w-full md:w-1/2 xl:w-1/3 p-3" v-for="g in person.dependents" :key="g.id">
						<!--Template Card-->
						<div class="bg-white border rounded shadow">
							<div class="border-b p-3">
								<h5 class="font-bold uppercase text-gray-600">{{ g.last_name }}, {{ g.first_name }}</h5>
							</div>
							<div class="p-5 flex flex-row">
								<img :src="g.image ? '/storage/' + g.image : '/people.svg'" style="max-width:100px;max-height:100px;" class="block" />
								<div>
									<p v-if="g.email">Email: <a :href="'mailto:' + g.email">{{ g.email }}</a></p>
									<p v-if="g.home_phone">Home Phone: <a :href="'tel:' + g.home_phone">{{ g.home_phone }}</a></p>
									<p v-if="g.work_phone">Work Phone: <a :href="'tel:' + g.work_phone">{{ g.work_phone }}</a></p>
									<p v-if="g.cell_phone">Cell Phone: <a :href="'tel:' + g.cell_phone">{{ g.cell_phone }}</a></p>
								</div>
							</div>
						</div>
						<!--/Template Card-->
					</div>
				</div>
			</div>
		</div>
		<confirm
			:title="'Are You Sure?'"
			:text="'Are you sure you want to delete ' + person.first_name + ' ' + person.last_name + '?'"
			:url="'/app/person/delete/' + person.id"
			:data="''"
			:method="'delete'"
			:emit="''"
		></confirm>
	</div>
</template>

<script>

	import AddPerson from './AddPerson'
	import AddGuardian from './AddGuardian'
	import AddCounselor from './AddCounselor'

	export default {
		props: {
			inperson: Object,
			user: Object
		},
		data() {
			return {
				person: this.inperson || {},
			}
		},
		watch: {
			inperson(n, o) {
				this.person = n
			}
		},
		methods: {
			editPerson() {

				switch(this.person.role.toLowerCase()) {
					case 'counselor':
						this.editCounselor()
						break;
					case 'guardian':
						this.editGuardian()
						break;
					default:
						this.editPersonRole()
						break;
				}

			},
			deletePerson() {
				Event.$emit('show-confirm')
			},
			editCounselor() {
				this.$modal.show(
					AddCounselor,
					{
						inperson: this.person
					},
					{
						height: 'auto',
						width: '80%',
						scrollable: true,
						name: 'addPerson'
					}
				)
			},
			editGuardian() {
				this.$modal.show(
					AddGuardian,
					{
						inperson: this.person
					},
					{
						height: 'auto',
						width: '80%',
						scrollable: true,
						name: 'addPerson'
					}
				)
			},
			editPersonRole() {
				this.$modal.show(
					AddPerson,
					{
						inperson: this.person
					},
					{
						height: 'auto',
						width: '80%',
						scrollable: true,
						name: 'addPerson'
					}
				)
			}
		}
	}
</script>
