<template>
	<div class="flex flex-row flex-wrap flex-grow mt-2">
	    <div class="w-full p-3">
	        <!--Table Card-->
	        <div class="bg-white border rounded shadow">
	            <div class="border-b p-3">
	                <h5 class="uppercase text-grey-dark">Your Account</h5>
	            </div>
	            <div class="p-5">
					<form class="w-full max-w-md" v-on:submit.prevent="updateAccount">
						<div class="flex flex-wrap flex-col mx-3 mb-6 content-center">
							<div class="w-full md:w-1/2 px-3 mb-6 md:mb-0">
								<label class="block uppercase tracking-wide text-grey-darker text-xs font-bold mb-2" for="grid-first-name">
									Name
								</label>
								<input class="appearance-none block w-full bg-grey-lighter text-grey-darker border border-red rounded py-3 px-4 mb-3 leading-tight focus:outline-none focus:bg-white" id="grid-first-name" type="text" placeholder="Jane" v-model="account.name">
							</div>
							<div class="w-full md:w-1/2 px-3">
								<h2 class="uppercase text-grey-dark">Change password</h2>
								<label class="block uppercase tracking-wide text-grey-darker text-xs font-bold mb-2" for="grid-password">
									Password
								</label>
								<input class="appearance-none block w-full bg-grey-lighter text-grey-darker border border-grey-lighter rounded py-3 px-4 mb-3 leading-tight focus:outline-none focus:bg-white focus:border-grey" id="grid-password" type="password" placeholder="******************" v-model="account.password">
								<input class="appearance-none block w-full bg-grey-lighter text-grey-darker border border-grey-lighter rounded py-3 px-4 mb-3 leading-tight focus:outline-none focus:bg-white focus:border-grey" type="password" placeholder="Confirm here" v-model="testPass">
								<p class="text-grey-dark text-xs italic">Make it as long and as crazy as you'd like</p>
								<p v-if="!passwordsMatch" class="text-red-dark text-sm">Passwords don't match!</p>
							</div>
							<input type="submit" class="bg-white hover:bg-grey-lightest text-grey-darkest font-semibold py-2 px-4 border border-grey-light rounded shadow cursor-pointer" :class="{'cursor-not-allowed' : !passwordsMatch}" :disabled="!passwordsMatch" value="Update Account" />
						</div>
					</form>
	            </div>
	        </div>
	        <!--/table Card-->
	    </div>
	</div>
</template>

<script>
	export default {
		props: [
			'inaccount'
		],
		data() {
			return {
				account: this.inaccount,
				testPass: null,
				processing: false
			}
		},
		watch: {
			inaccount(n, o) {
				this.account = n
			}
		},
		methods: {
			updateAccount() {

				let self = this

				this.processing = true

				let sendData = {
					name: this.account.name,
					pass: this.account.password
				}

				window.axios.post('/app/account/update-account', sendData)
				.then((response) => {
					this.$awn.success('Account updated!', {durations: {success: 3}})
				})
				.catch((error) => {
					this.$awn.alert('ERROR: ' + error.error, {duration: {error: 5}})
				})

			}
		},
		computed: {
			passwordsMatch() {

				return this.account && this.account.password == this.testPass

			}
		}
	}
</script>