<template>
	<div class="flex flex-row flex-wrap flex-grow mt-2">
	    <div v-if="hasPrograms" class="w-full p-3">
	        <!--Table Card-->
	        <div class="bg-white border rounded shadow">
	            <div class="border-b p-3">
	                <h5 class="uppercase text-grey-dark">Programs</h5>
	            </div>
	            <div class="p-5">
	               <add-program v-if="!hasPrograms"></add-program>
	               <program v-else v-for="p in account.programs" :key="'program-' + p.id" :inprogram="p"></program>
	            </div>
	        </div>
	        <!--/table Card-->
	    </div>
	    <div v-else role="alert">
	    	<div class="bg-red text-white font-bold rounded-t px-4 py-2">
	    		Uh oh!
	    	</div>
	    	<div class="border border-t-0 border-red-light rounded-b bg-red-lightest px-4 py-3 text-red-dark">
	    		<p>Please add a program to continue!</p>
	    		<add-program></add-program>
	    	</div>
	    </div>
	</div>
</template>

<script>

	import AddProgram from '../program/AddProgram'
	import Program from '../program/Program'

	export default {
		components: {
			AddProgram,
			Program
		},
		props: {
			inaccount: Object,
			user: Object
		},
		data() {
			return {
				account: this.inaccount
			}
		},
		watch: {
			inaccount(n, o) {
				this.account = n
			}
		},
		methods: {

		},
		computed: {
			hasPrograms() {
				return this.account.programs && this.account.programs.length
			}
		}
	}
</script>
