<template>
	<div class="w-full px-4 md:px-0 md:mt-8 mb-16 text-grey-darkest leading-normal">
		<!--Console Content-->
		<div class="flex flex-wrap">
			<div class="w-full md:w-1/2 xl:w-1/3 p-3 cursor-pointer" v-if="user.role === 'admin'" v-on:click="selectedTab = 'programs'">
				<!--Metric Card-->
				<div class="bg-white border rounded shadow p-2">
					<div class="flex flex-row items-center">
						<div class="flex-shrink pr-4">
							<div class="rounded p-3 bg-yellow-dark"><i class="fas fa-user-plus fa-2x fa-fw fa-inverse"></i></div>
						</div>
						<div class="flex-1 text-right md:text-center">
							<h3 class="text-3xl uppercase text-yellow-dark">Programs</h3>
						</div>
					</div>
				</div>
				<!--/Metric Card-->
			</div>
			<div class="w-full md:w-1/2 xl:w-1/3 p-3 cursor-pointer" v-on:click="selectedTab = 'user'">
				<!--Metric Card-->
				<div class="bg-white border rounded shadow p-2">
					<div class="flex flex-row items-center">
						<div class="flex-shrink pr-4">
							<div class="rounded p-3 bg-green-dark"><i class="fa fa-wallet fa-2x fa-fw fa-inverse"></i></div>
						</div>
						<div class="flex-1 text-right md:text-center">
							<h3 class="text-3xl uppercase text-grey">Your Account</h3>
						</div>
					</div>
				</div>
				<!--/Metric Card-->
			</div>
			<div class="w-full md:w-1/2 xl:w-1/3 p-3 cursor-pointer"  v-if="user.role === 'admin'" v-on:click="selectedTab = 'subs'">
				<!--Metric Card-->
				<div class="bg-white border rounded shadow p-2">
					<div class="flex flex-row items-center">
						<div class="flex-shrink pr-4">
							<div class="rounded p-3 bg-orange-dark"><i class="fas fa-users fa-2x fa-fw fa-inverse"></i></div>
						</div>
						<div class="flex-1 text-right md:text-center">
							<h3 class="text-3xl uppercase text-orange">Subscriptions</h3>
						</div>
					</div>
				</div>
				<!--/Metric Card-->
			</div>
		</div>
		<!--Divider-->
		<account-user v-if="selectedTab == 'user'" :inaccount="account"></account-user>
		<account-subscriptions v-if="selectedTab == 'subs' && user.role === 'admin'" :user="user" :inaccount="account"></account-subscriptions>
		<account-programs v-if="selectedTab == 'programs' && user.role === 'admin'" :inaccount="account"></account-programs>
	</div>
</template>

<script>

	import AccountUser from './AccountUser'
	import AccountSubscriptions from './AccountSubscriptions'
	import AccountPrograms from './AccountPrograms'

	export default {
		components: {
			AccountUser,
			AccountSubscriptions,
			AccountPrograms
		},
		props: {
			user: Object
		},
		data() {
			let tab = 'user';

			if (this.user.role === 'admin') {
				tab = 'programs'
			}

			return {
				account: {},
				selectedTab: tab
			}
		},
		methods: {
			get() {

				let self = this

				window.axios.get('/app/account/get')
				.then((response) => {

					this.account = response.data

				})
			}
		},
		created() {
			Event.$on('get-account', this.get)
		},
		beforeDestroy() {
			Event.$off('get-account', this.get)
		},
		mounted() {

			this.get()

		}
	}
</script>
